<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.css"/>

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>

<script>
$(document).ready(function() {
    $.get("/api/user", function(data) {
       $('#userTable').DataTable( {
        "data": data,
        "columns": [
            { "data": "id" },
            { "data": "firstName" },
            { "data": "lastName" }
        ]
        } );
    });
} );
</script>

<table id="userTable" class="display" width="100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
</table>

</body>
</html>